html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.cf{
    zoom: 1;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after{
    clear: both;
}

main{
    margin: 20px auto;
    border: 1px solid #000;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding:0 20px;
}

header.primary {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    grid-column: 1 / span 12;
}

#blog {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    grid-column: 1 / span 12;
}

aside{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    grid-column: 1 / span 6;
}

footer.primary{
    background-color: rgba(0, 0, 0, 0.4);
    float: left;
    padding: 20px;
    grid-column: 1 / span 12;
}